<div class="wrap">
<section class="todoapp">

  <header class="header">
    <h1>Todo</h1>
    <input class="new-todo"
           placeholder="Add todos"
           [(ngModel)]="newTodo"
           (keyup.enter)="addTodo()"
           autofocus>
  </header>

  
  <section class="main">

    <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
      <li *ngFor="let todo of todos" [ngClass]="{completed: todo.isDone, editing: todo.editing}" >
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="todo.isDone">
          <label (dblclick)="todo.editing = true">{{todo.title}}</label>
          <i class="material-icons" (click)="destroyTodo(todo)">&#xE5CD;</i>
        </div>
        <!--<input class="edit"
               #updatedTodo
               [value]="todo.title"
               (blur)="updateTodo(todo, updatedTodo.value)"
               (keyup.escape)="todo.editing = false"
               (keyup.enter)="updateTodo(todo, updatedTodo.value)">-->
      </li>
    </ul>
  </section>

 
  <footer class="footer">
  
    
    <ul class="filters">
      <li>
        <a [routerLink]="['/all']" [class.selected]="path === 'all'">All</a>
      </li>
      <li>
        <a [routerLink]="['/active']" [class.selected]="path === 'active'">Active</a>
      </li>
      <li>
        <a [routerLink]="['/completed']" [class.selected]="path === 'completed'">Completed</a>
      </li>
    </ul>
  </footer>
</section>
</div>